extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 ABOUT
    .container    
        .main-content-wrap
          .figure.nocaption
            a(href='https://www.simoahava.com/images/2014/02/simo.jpg' title='Simo Ahava')
              img.fig-img.lazy.initial.loaded(data-src='https://www.simoahava.com/images/2014/02/simo.jpg#ZgotmplZ' alt='Simo Ahava' src='https://www.simoahava.com/images/2014/02/simo.jpg#ZgotmplZ' data-was-processed='true')
          p
            | Hi, I&rsquo;m 
            strong Simo Ahava
            | . I&rsquo;m partner and co-founder at 
            a(href='https://8-bit-sheep.com/') 8-bit-sheep
            | .
          p
            | I have also been a 
            a(href='https://developers.google.com/experts/people/simo-ahava') Google Developer Expert
            |  for Google Analytics and Google Tag Manager since 2014.
          p
            | I hail from Espoo, neighboring Helsinki, the capital of Finland. I have a background in academics (English language and linguistics), in IT, in digital marketing, and in web development. I&rsquo;ve been programming actively since 1997, and I built my first website the same year. Marketing, IT disciplines, and web analytics all fell into my sphere of interest shortly after.
          p
            | My blog has a singular purpose: To tell complicated stories in a simple, understandable, and actionable way.
          p
            | Most often, I talk about 
            a(href='https://www.simoahava.com/categories/analytics/') web analytics
            | , but I also have soft spots for 
            a(href='https://www.simoahava.com/categories/digital-marketing/') digital marketing
            |  in general, for 
            a(href='https://www.simoahava.com/categories/seo/') SEO
            | , for 
            a(href='https://www.simoahava.com/categories/web-development/') web development
            | , and for 
            a(href='https://www.simoahava.com/tags/google-cloud/') working with the Google Cloud Platform
            | .
          p
            | I believe in the power of data and technology. I&rsquo;m also a strong advocate for altruistic knowledge sharing. You won&rsquo;t find a mailing list on this site (there&rsquo;s an 
            a(href='https://www.simoahava.com/index.xml') RSS feed for you
            | ), nor will you find me trying to peddle my wares or trying to push a commercial agenda. This blog is for transferring knowledge between me, my guest writers, and the community participating in the article comments (thank you!).
          p But enough about me. What about you? You&rsquo;ve come to the right place if you&rsquo;re:
          ul
            li
              p
                | looking for advice with 
                a(href='https://analytics.google.com/') Google Analytics
                |  or 
                a(href='https://tagmanager.google.com/') Google Tag Manager
                |  (just drop me a line in post comments and I&rsquo;ll get right back to you)
            li
              p interested in learning about the latest trends in digital marketing
            li
              p curious about data and what it can do for you
            li
              p
                a(href='https://www.simoahava.com/upcoming-talks/') searching for a speaker in your conference or seminar
          h2#contact-me
            | Contact me 
            a(data-type='anchor' href='#contact-me') #
            span(data-type='top') &#x21E7;
          p
            | You can contact me through all the means listed in the header / sidebar. I&rsquo;m active all over the place: in 
            a(href='https://www.reddit.com/r/GoogleTagManager/') Google Tag Manager&rsquo;s subreddit
            | , in 
            a(href='https://www.measure.chat/') Measure Slack
            | , the 
            a(href='https://www.facebook.com/groups/329145737601165/') Facebook Google Tag Manager community
            | , the official 
            a(href='https://productforums.google.com/forum/#!forum/tag-manager') product forums
            | , and 
            a(href='https://plus.google.com/+SimoAhava') Google+
            |  for as long as it lasts. I also try to 
            a(href='https://www.twitter.com/SimoAhava') use Twitter
            |  as much as possible.
          p
            | In my spare time, I play the ukulele, and I enjoy beer &amp; 
            a(href='https://boardgamegeek.com/user/sahava') board games
            | . I also have a beautiful and wonderful wife, who makes everything worth it, and a son for whom I would drop everything else in a heartbeat.

