extends layout

block content
  main.container(role='main')
    .jumbotron
      h1 Admin
      p.lead
        | This is an open-source, community-driven gallery for custom templates in&nbsp;
        a(href="https://tagmanager.google.com" target="_blank") Google Tag Manager
        | .
      a.btn.btn-lg.btn-primary(href='#' role='button') More Details &raquo;

