extends layout

block content
  main.container(role='main')
    .jumbotron
      h1 Admin
      a(href='/admin/create') Create template
      | &nbsp;|&nbsp;
      a(href='/admin/update') Update template
      hr
      if !success
        div.col-sm-4
          form(method='POST' action='/api/template/create')
            div.form-group
              label(for='kind') Database:
              select#kind.form-control(name='kind')
                option(value='development') Development
                option(value='production') Production
                option(value='both') Both
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', name='name')
            div.form-group
              label(for='author') Author:
              input#author.form-control(type='text', name='author')
            div.form-group
              label(for='category') Category:
              select#category.form-control(name='category')
                each category, index in categories
                  option(value=index) #{category}
            div.form-group
              label(for='license') License:
              input#license.form-control(type='text' name='license')
            div.form-group
              label(for='json') JSON:
              textarea#json.form-control(rows=5 name='json')
            div.form-group
              label(for='slug') Slug:
              input#slug.form-control(type='text' name='slug')
            div.form-group
              label(for='author_url') Author URL:
              input#author_url.form-control(type='text', name='author_url')
            div.form-group
              label(for='author_slug') Author slug:
              input#author_slug.form-control(type='text' name='author_slug')
            div.form-group
              label(for='vendor_url') Vendor URL:
              input#vendor_url.form-control(type='text' name='vendor_url')
            div.form-group
              label(for='landing_url') Landing URL:
              input#landing_url.form-control(type='text' name='landing_url')
            div.form-group
              label(for='git_url') Git URL:
              input#git_url.form-control(type='text' name='git_url')
            button.btn.btn-primary(type='submit') Create
      else
        div.col-sm-6
          h4 Successfully created the following IDs
          ul.list-group
            for id in success
              li.list-group-item
                a(href=`/template/${id}`)= id
