doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        meta(content='noindex,nofollow')
        title Logging in...

    body
        p Please wait...
        script.
            var params = window.location.search;
            if (window.opener) {
              window.opener.postMessage(params);
              window.close();
            } else {
              var req = new XMLHttpRequest();
              var endpoint = '/api/session/login/' + params;
              req.open('GET', endpoint, true);
              req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                  if (JSON.parse(req.response).status === 'success') {
                    window.location = '/';
                  }
                }
              };
              req.send();
            }


