extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 CONTACT
      p.lead
        | Meh
      a.btn.btn-lg.btn-primary(href='#' role='button') More Details &raquo;
    .container    