doctype html
html
  head
    script.
        window.dataLayer = window.dataLayer || [];  
        window.dataLayer.push(!{JSON.stringify(dataLayer)});
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    block content
 
   
    link(rel='stylesheet', href='/js/jquery.min.js')
    link(rel='stylesheet', href='/js/popper.js')
    link(rel='stylesheet', href='/js/bootstrap.min.js')