extends layout

block content
    main.container(role='main')
        .jumbotron
            h1 Privacy Policy
            h4 What information do you collect?
            p This service collects basic behavior data to Google Analytics. This data is not linked to your advertising profile or any other third-party data source in any way.
            h4 How do you use the information?
            p The data is used to improve the service, and to analyze how different features of the service are utilized.
            h4 What information do you share?
            p The data is only collected in Google Analytics, and it is not shared with any other third party.
            h1 Terms of Service ("Terms")
            p Last updated: August 12, 2019
            p Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the Custom Templates for Google Tag Manager (the "Service") operated by Simo Ahava ("us", "we", or "our").
            p Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
            p By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
            h4 Links To Other Web Sites
            p Our Service may contain links to third-party web sites or services that are not owned or controlled by us.
            p We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            p We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
            h4 Governing Law
            p These Terms shall be governed and construed in accordance with the laws of Finland, without regard to its conflict of law provisions.
            p Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
            h4 Changes
            p We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            p By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
            h4 Contact Us
            p If you have any questions about these Terms, please&nbsp;
                a(href='/about') contact us
                | .
